.DayPicker {
    border: 2px solid #204ca9;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 10px;
}

.DayPicker-Day {
    color: #586058;
    font-weight: 500;
    outline: none;
}

.DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside) {
    background-color: #697acc;
}

.DayPicker-Day--outside {
    cursor: default;
    color: #969f96;
}